<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>留时需要使用相机扫描团队项目邀请二维码。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>留时需要你的位置来计算到集合地点的距离和预计到达时间。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>留时需要访问你的相册来保存分享卡片。</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.studysync.deadline-check</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.studysync.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>studysync</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.studysync.shortcut.addEvent</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>添加倒计时</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Add Countdown</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.studysync.shortcut.schedule</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>今日日程</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Today&apos;s Schedule</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.studysync.shortcut.goals</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>学习目标</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Study Goals</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTask</string>
		</dict>
	</array>
</dict>
</plist>
